<h1>Hello World</h1>
<p>
  It's currently <%= @now %>.
</p>
<table>
  <tr><th>ID</th><th>Email</th></tr>
  <% @users.each do |u| %>
	<tr><td><%= u.id %></td><td><%= u.email %></td>
  <% end -%>
</table>