<script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
  var jug = new Juggernaut;
  jug.subscribe("/user", function(data){
    var li = $("<li />");
    li.text(data.user.email);
    $("#users").append(li);
  });  
</script>

<ul id="users">
  <li>Nothing</li>
</ul>