<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- http://github.com/paulirish/html5-boilerplate -->
  <title>Foundation</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <%#= stylesheet_link_tag :defaults, :cache => true, :concat => true %>
  <%#= javascript_include_tag :defaults, :cache => true, :concat => true %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <header>
    </header>
    
    <div id="main">
      <% if notice %>
  	    <p class="notice"><%= notice %></p>
	    <% end -%>
      <% if alert %>
  	  <p class="alert"><%= alert %></p>
	    <% end -%>
  	  <%= yield %>
    </div>
    
    <footer>
    </footer>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script>
   var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>

</body>
</html>
